{% extends 'base.html' %}

{% block title %}Games{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if add_form.errors or join_form.errors %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            Please correct the errors in the form below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endif %}

<div class="container-fluid">

        <!-- subheader -->
        <div class="row mb-4 my-3">
            <h2 class="col">Games</h2>
            {% if user.is_authenticated %}
            <div class="col text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addgame">
                        Start Game
                    </button>
            </div>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <!-- add-a-game modal -->
        <div class="modal fade" id="addgame" tabindex="-1" aria-labelledby="addgameLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addgameLabel">Start New Game</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                    <form action="{% url 'games-add' %}" method="post" id="add-game">
                        {% csrf_token %}
                        {{ add_form.as_p }}
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button submit" class="btn btn-primary" data-bs-dismiss="modal" form="add-game">Start</button>
                </div>
            </div>
            </div>
        </div>
        {% endif %}

        <div class="container px-0 my-5">
            <!-- labels for table -->
            <div class="d-flex flex-row px-2 py-0">
                <div class="col"><h5>Game ID</h5></div>
                <div class="col"><h5>Time</h5></div>
                <div class="col"></div>
                <div class="col text-center"></div>
            </div>

            <!-- OPEN GAMES -->
            {% for game in open_games %}
            <div class="my-2 border">
                <div class="d-flex flex-row align-items-center px-2 py-2">
                    <div class="col-3">
                        <a class="btn btn-light" rel="noopener noreferrer" href="{% url 'games-info' game.id %}" style="min-width:40%;">{{ game.id }}</a>
                    </div>
                    <div class="col-6">
                        {{ game.start_time|date:"N j, Y \a\t g:i A" }} &nbsp — &nbsp {{ game.end_time|date:"N j, Y \a\t g:i A e"  }}
                    </div>
                    <div class="col-3 text-center">
                        {% if user.is_authenticated %} 
                            {% if game.id in joined_games %}
                            <button type="button" class="btn btn-success" style="min-width:40%;" disabled>
                                Joined
                            </button>
                            {% else %}
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#joingame{{ forloop.counter0 }}" style="min-width:40%;">
                                    Join Game
                                </button>
                            {% endif %}
                        {% else %} 
                            <a class="btn btn-secondary" rel="noopener noreferrer" href="{% url 'games-info' game.id %}" style="min-width:40%;">Info</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if user.is_authenticated and game.id not in joined_games %}
                <!-- join-a-game modal -->
                <div class="modal fade" id="joingame{{ forloop.counter0 }}" tabindex="-1" aria-labelledby="joingame{{ forloop.counter0 }}Label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="joingame{{ forloop.counter0 }}Label">Join Game</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'games-join' game.id %}" method="post" id="join-game{{game.id}}">
                                {% csrf_token %}
                                {{ join_form.as_p }}
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button submit" class="btn btn-primary" form="join-game{{game.id}}">Join</button>
                        </div>
                    </div>
                    </div>
                </div>
            {% endif %}

            {% endfor %}

            <!-- CURRENT GAMES -->
            {% for game in curr_games %} 
            <div class="my-2 border">
                <div class="d-flex flex-row align-items-center px-2 py-2">
                    <div class="col-3">
                        <a class="btn btn-light" rel="noopener noreferrer" href="{% url 'games-info' game.id %}" style="min-width:40%;">{{ game.id }}</a>
                    </div>
                    <div class="col-6">
                        {{ game.start_time|date:"N j, Y \a\t g:i A" }} &nbsp — &nbsp {{ game.end_time|date:"N j, Y \a\t g:i A e"  }}
                    </div>
                    <div class="col-3 text-center">
                        <a class="btn btn-secondary" rel="noopener noreferrer" href="{% url 'games-info' game.id %}" style="min-width:40%;">Info</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

</div>

{% endblock %}
