{% extends 'base.html' %}

{% block title %}User Devices{% endblock %}

{% block css %}
    {% load static %}
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'account/devices.js' %}" defer></script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            Please correct the errors in the form below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endif %}

<div class="container-fluid">

    {% if user.is_authenticated %}

        <!-- subheader -->
        <div class="row mb-4 my-3">
            <h2 class="col">Devices</h2>
            <div class="col text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add Device
                    </button>
            </div>
        </div>

        <!-- add-a-device modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add a Device</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                    <form action="{% url 'account-devices-add' %}" method="post" id="add-device">
                        {% csrf_token %}
                        {{ adddevice_form.as_p }}
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button submit" class="btn btn-primary" form="add-device">Add Device</button>
                </div>
            </div>
            </div>
        </div>



        <div class="container px-0 my-5">
            <!-- labels for table -->
            <div class="d-flex flex-row px-2 py-0">
                <div class="col-3"><h5>Name</h5></div>
                <div class="col-6"><h5>Host</h5></div>
                <div class="col-2 text-center"><h5>Last Seen</h5></div>
                <div class="col-1 text-center"><h5>Default</h5></div>
            </div>

            <form id="makedefault-form" action="{% url 'account-devices-setdefault' %}" method="post" hidden>
                {% csrf_token %}
                {{ setdefault_form.as_p }}
            </form>

            {% for device in devices %} 
            <div class="my-2 border">
                <div class="d-flex flex-row align-items-center px-2 py-1">
                    <div class="col-3">
                        <a class="btn dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter0 }}" href="#" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
                        {{ device.keyname }}
                    </div>
                    <div class="col-6">
                        {{ device.ssh_suffix }}
                    </div>
                    <div class="col-2 text-center">
                        {{ device.last_seen|default_if_none:"Never" }}
                    </div>
                    <div class="col-1 text-center">
                        {% if device.default %}
                        <i class="fa-solid fa-circle-dot"></i>
                        {% else %}
                        <button class="btn makedefaultbtn" type="button submit" data-key="{{ device.id }}"><i class="fa-regular fa-circle"></i></button>
                        {% endif %}
                    </div>
                </div>
                <!-- drop down with the ssh pubkey -->
                <div class="row collapse px-3" id="collapse-{{ forloop.counter0 }}">
                    <div class="card card-body text-justify border-0 mx-0 my-0">
                        <code style="word-break:break-all;">
                            <span class="text-muted">{{ device.ssh_prefix }} </span>
                            <span class="text-dark">{{ device.ssh_pubkey }} </span>
                            <span class="text-muted">{{ device.ssh_suffix }}</span>
                        </code>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

</div>

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}

{% endblock %}
